.game-container {
	align-items: center;
	background-color: #03396c;
	border-radius: 10px;
	color: #eeeeee;

	display: flex;
	margin: 20px;
	max-width: 400px;
	padding: 15px;
}

.game-container .name {
	font-weight: bold;
	padding-top: 10px;
}

.game-container .description {
	padding-top: 15px;
}
