.container {
  border-radius: 10px;
  background-color:  #03396c;
  color: #eeeeee;
  padding: 15px;
  max-width: 400px;
  margin: 20px;
  
  display: flex;
  align-items: center;
}

.name {
  padding-top: 10px;
  font-weight: bold;
}

.description {
  padding-top: 15px;
}